<nav id = 'indexnav'>
   <ul id = 'indexul'>
      <li class = 'indexlist'><a class = 'indexlink' id = 'index1' href="nba">NBA</a></li>
      <li class = 'indexlist'><a class = 'indexlink' id = 'index2' href="nfl">NFL</a></li>
      <li class = 'indexlist'><a class = 'indexlink' id = 'index3' href="mlb">MLB</a></li>
      <li class = 'indexlist'><a class = 'indexlink' id = 'index4' href="soccer">SOCCER</a></li>
   </ul>
</nav>