<header id = 'navheader'>
   <nav>
      <ul>
         <li class = 'navlist'><a class = 'navlink' href="/">HOME</a></li>
         <li class = 'navlist'><a class = 'navlink' href="nba">NBA</a></li>
         <li class = 'navlist'><a class = 'navlink' href="nfl">NFL</a></li>
         <li class = 'navlist'><a class = 'navlink' href="mlb">MLB</a></li>
         <li class = 'navlist'><a class = 'navlink' href="soccer">SOCCER</a></li>
      </ul>
   </nav>
</header>

<div id = "main-content"> 
   <form id = "form" action = '/nba/' method ="GET"> 
      <h3 id = 'text'> Select a Team </h3>
      <select id = "nbalist" required>
         {{#each data}}
         <option> {{this.teamname}}</option>
         {{/each}}
      </select>
      <button type="submit">Submit</button>
   </form>
</div
