<header id = 'navheader'>
   <nav>
      <ul>
         <li class = 'navlist'><a class = 'navlink' href="/">HOME</a></li>
         <li class = 'navlist'><a class = 'navlink' href="nba">NBA</a></li>
         <li class = 'navlist'><a class = 'navlink' href="nfl">NFL</a></li>
         <li class = 'navlist'><a class = 'navlink' href="mlb">MLB</a></li>
         <li class = 'navlist'><a class = 'navlink' href="soccer">SOCCER</a></li>
      </ul>
   </nav>
</header>

<div id = "main-content"> 
   <form id = "nbasearch"> 
      <h3 id = 'text'> Select a Team </h3>
      <select id = "nbalist" required>
         <option> </option>
         {{#each data}}
         <option id = {{this.teamid}}> {{this.teamname}}</option>
         {{/each}}
      </select>
      <button type="submit">Submit</button>
   </form>
   <div id = "statcontainer"> 
      <h1 id = "nbayear"> 2015-2016</h1>
      <ul id = "nbastats">
         <li class = "statcol" id = "large">
            <ul id = "nbaplayername">
               <li>Player Name</li>
               <li id ='p1'></li> 
               <li id ='p2'></li>  
               <li id ='p3'></li>  
               <li id ='p4'></li>  
               <li id ='p5'></li>  
               <li id ='p6'></li>  
               <li id ='p7'></li>  
               <li id ='p8'></li>  
               <li id ='p9'></li>  
               <li id ='p10'></li>  
               <li id ='p11'></li>  
               <li id ='p12'></li>  
               <li id ='p13'></li>
               <li id ='p14'></li>  
               <li id ='p15'></li>      
            </ul>
         </li>
         <li class = "statcol" id = 'small'>
            <ul id = "nbaplayerage">
               <li>Age</li>
               <li id ='a1'></li> 
               <li id ='a2'></li>  
               <li id ='a3'></li>  
               <li id ='a4'></li>  
               <li id ='a5'></li>  
               <li id ='a6'></li>  
               <li id ='a7'></li>  
               <li id ='a8'></li>  
               <li id ='a9'></li>  
               <li id ='a10'></li>  
               <li id ='a11'></li>  
               <li id ='a12'></li>  
               <li id ='a13'></li>
               <li id ='a14'></li>  
               <li id ='a15'></li>  
            </ul>
         </li>
         <li class = "statcol">
            <ul id = "nbamin">
               <li>MPG</li>
               <li id ='m1'></li> 
               <li id ='m2'></li>  
               <li id ='m3'></li>  
               <li id ='m4'></li>  
               <li id ='m5'></li>  
               <li id ='m6'></li>  
               <li id ='m7'></li>  
               <li id ='m8'></li>  
               <li id ='m9'></li>  
               <li id ='m10'></li>  
               <li id ='m11'></li>  
               <li id ='m12'></li>  
               <li id ='m13'></li>
               <li id ='m14'></li>  
               <li id ='m15'></li> 
            </ul>
         </li>
         <li class = "statcol">
            <ul id = "nbafga">
               <li>FGA</li>
               <li id ='fg1'></li> 
               <li id ='fg2'></li>  
               <li id ='fg3'></li>  
               <li id ='fg4'></li>  
               <li id ='fg5'></li>  
               <li id ='fg6'></li>  
               <li id ='fg7'></li>  
               <li id ='fg8'></li>  
               <li id ='fg9'></li>  
               <li id ='fg10'></li>  
               <li id ='fg11'></li>  
               <li id ='fg12'></li>  
               <li id ='fg13'></li>
               <li id ='fg14'></li>  
               <li id ='fg15'></li> 
            </ul>
         </li>
         <li class = "statcol">
            <ul id = "nbafgm">
               <li>FGM</li>
               <li id ='fgm1'></li> 
               <li id ='fgm2'></li>  
               <li id ='fgm3'></li>  
               <li id ='fgm4'></li>  
               <li id ='fgm5'></li>  
               <li id ='fgm6'></li>  
               <li id ='fgm7'></li>  
               <li id ='fgm8'></li>  
               <li id ='fgm9'></li>  
               <li id ='fgm10'></li>  
               <li id ='fgm11'></li>  
               <li id ='fgm12'></li>  
               <li id ='fgm13'></li>
               <li id ='fgm14'></li>  
               <li id ='fgm15'></li> 
            </ul>
         </li>
         <li class = "statcol">
            <ul id = "nbafgp">
               <li>FG PCT</li>
               <li id ='fgp1'></li> 
               <li id ='fgp2'></li>  
               <li id ='fgp3'></li>  
               <li id ='fgp4'></li>  
               <li id ='fgp5'></li>  
               <li id ='fgp6'></li>  
               <li id ='fgp7'></li>  
               <li id ='fgp8'></li>  
               <li id ='fgp9'></li>  
               <li id ='fgp10'></li>  
               <li id ='fgp11'></li>  
               <li id ='fgp12'></li>  
               <li id ='fgp13'></li>
               <li id ='fgp14'></li>  
               <li id ='fgp15'></li> 
            </ul>
         </li>
         <li class = "statcol">
            <ul id = "nbareb">
               <li>REB</li>
               <li id ='r1'></li> 
               <li id ='r2'></li>  
               <li id ='r3'></li>  
               <li id ='r4'></li>  
               <li id ='r5'></li>  
               <li id ='r6'></li>  
               <li id ='r7'></li>  
               <li id ='r8'></li>  
               <li id ='r9'></li>  
               <li id ='r10'></li>  
               <li id ='r11'></li>  
               <li id ='r12'></li>  
               <li id ='r13'></li>
               <li id ='r14'></li>  
               <li id ='r15'></li> 
            </ul>
         </li>
         <li class = "statcol">
            <ul id = "nbaast">
               <li>AST</li>
               <li id ='as1'></li> 
               <li id ='as2'></li>  
               <li id ='as3'></li>  
               <li id ='as4'></li>  
               <li id ='as5'></li>  
               <li id ='as6'></li>  
               <li id ='as7'></li>  
               <li id ='as8'></li>  
               <li id ='as9'></li>  
               <li id ='as10'></li>  
               <li id ='as11'></li>  
               <li id ='as12'></li>  
               <li id ='as13'></li>
               <li id ='as14'></li>  
               <li id ='as15'></li> 
            </ul>
         </li>
         <li class = "statcol">
            <ul id = "nbastl">
               <li>STL</li>
               <li id ='st1'></li> 
               <li id ='st2'></li>  
               <li id ='st3'></li>  
               <li id ='st4'></li>  
               <li id ='st5'></li>  
               <li id ='st6'></li>  
               <li id ='st7'></li>  
               <li id ='st8'></li>  
               <li id ='st9'></li>  
               <li id ='st10'></li>  
               <li id ='st11'></li>  
               <li id ='st12'></li>  
               <li id ='st13'></li>
               <li id ='st14'></li>  
               <li id ='st15'></li> 
            </ul>
         </li>
         <li class = "statcol">
            <ul id = "nbablk">
               <li>BLK</li>
               <li id ='b1'></li> 
               <li id ='b2'></li>  
               <li id ='b3'></li>  
               <li id ='b4'></li>  
               <li id ='b5'></li>  
               <li id ='b6'></li>  
               <li id ='b7'></li>  
               <li id ='b8'></li>  
               <li id ='b9'></li>  
               <li id ='b10'></li>  
               <li id ='b11'></li>  
               <li id ='b12'></li>  
               <li id ='b13'></li>
               <li id ='b14'></li>  
               <li id ='b15'></li> 
            </ul>
         </li>
         <li class = "statcol">
            <ul id = "nbato">
               <li>TOV</li>
               <li id ='t1'></li> 
               <li id ='t2'></li>  
               <li id ='t3'></li>  
               <li id ='t4'></li>  
               <li id ='t5'></li>  
               <li id ='t6'></li>  
               <li id ='t7'></li>  
               <li id ='t8'></li>  
               <li id ='t9'></li>  
               <li id ='t10'></li>  
               <li id ='t11'></li>  
               <li id ='t12'></li>  
               <li id ='t13'></li>
               <li id ='t14'></li>  
               <li id ='t15'></li> 
            </ul>
         </li>
         <li class = "statcol">
            <ul id = "nbapts">
               <li>PTS</li>
               <li id ='pt1'></li> 
               <li id ='pt2'></li>  
               <li id ='pt3'></li>  
               <li id ='pt4'></li>  
               <li id ='pt5'></li>  
               <li id ='pt6'></li>  
               <li id ='pt7'></li>  
               <li id ='pt8'></li>  
               <li id ='pt9'></li>  
               <li id ='pt10'></li>  
               <li id ='pt11'></li>  
               <li id ='pt12'></li>  
               <li id ='pt13'></li>
               <li id ='pt14'></li>  
               <li id ='pt15'></li> 
            </ul>
         </li>   
      </ul>   
   </div> 

</div>
